*{
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
}
body ,html{
  font-family: default-font;
}

@font-face {
  font-family: default-font;
  src: url("../fonts/JF-Flat-regular.ttf") format("opentype");
}
@font-face {
  font-family: bold-font;
  src: url("../fonts/ge-tv.ttf") format("opentype");
}

.container{
width: 80%;
margin: auto;
}
a{
text-decoration: none;
}
ul{
list-style-type: none;
}
 .btn-website{
  display: inline-block;
  background-color:#fff568 ;
  border: 1px solid #fff568 ;
  padding: 14px 60px;
  border-radius: 50px;
  color:#505050;
  font-size: 19px;
  font-weight: bold;
  transition: all 0.35s linear;
}
.btn-website:hover{
  background-color:transparent ;
  border: 1px dashed #fff568;
  box-shadow: 0 0 12px 3px rgba(255, 245, 104, 0.5);
}
.title-sec{
  text-align: center;
  margin-bottom: 50px;

}
.title-sec h3{
color: #505050;
font-size: 22px;
}
  .title-sec h5{
color: #59c6bc;
font-size: 12px;
  }

/*Start Header*/

.header nav{
  background-color: #59c6bc;
padding: 15px 0;

}
 .header nav .box-nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .header nav  .box-nav ul {
  display: flex;
  gap:30px;
  justify-content: space-between;
  align-items: center;
}

.header nav  .box-nav ul li a{
  font-size: 14px;
  color: #fff;
  transition: all 0.35s linear;

}


.header nav  .box-nav ul li.active{
  background-color: #fff568;
  padding: 10px 30px;
  border-radius: 50px;


}
.header nav  .box-nav ul li.active a{
  color: #505050;
}
@media (max-width: 767px) {
.header nav  .box-nav ul{
  display:none;
}
}


.header nav  .box-nav ul li:hover a{
   color: #fff568;
   text-decoration: underline;
}
.header nav  .box-nav ul li.active:hover  a{
  color: #fff;
  text-decoration: underline;
}

.header .content-header{

  height:480px;
  background-size: cover !important;
}
.header .content-header .content{
  padding: 50px 0;

}

.header .content-header .content h1{
  font-family: bold-font;
  font-size: 55px;
  color: #fff;
  margin-bottom: 30px;
}

.header .content-header .content p{
font-size: 17px;
color: #fff;
line-height: 2;
margin-bottom: 30px;
}

@media (min-width: 992px)  {
  .header .content-header .content {
    width: 400px;
}
}
@media (max-width: 991px) {
  .header .content-header .content{
  text-align: center;
 }
}


/*End Header*/

/*Start Services*/
.serv-sec{
  padding: 60px 0;
}
.serv-sec .boxes{
display: flex;
}
.serv-sec .boxes .box{
  flex: 1;
  padding: 50px 35px;
  transition: all 0.35s linear;
}
.serv-sec .boxes .box:hover{
  transform: translateX( 10px) scale(1.1);
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2);
}
.serv-sec .boxes .box:nth-child(1){
  background-color: #2d98a2;
}
.serv-sec .boxes .box:nth-child(2){
  background-color: #4fc5ba;
}
.serv-sec .boxes .box:nth-child(3){
  background-color: #eb774c;
}
.serv-sec .boxes .box:nth-child(4){
            background-color: #edbf47;
}

.serv-sec .boxes .box img{
  width: 76px;
  height: 72px;
  display: inline-block;
  margin-bottom: 15px;
}
.serv-sec .boxes .box h3{
  color: #fff;
  margin-bottom: 15px;
  font-size: 23px;
  font-weight: normal;
}
.serv-sec .boxes .box p{
  color: #fff;
  font-size: 16px;
  line-height: 1.8;
}
@media (max-width: 991px) {
    .serv-sec .boxes {
      flex-direction:column;
    }
  .serv-sec .boxes .box{
padding: 30px;

  }
}

@media (min-width: 992px) and (max-width: 1199px){
  .serv-sec .boxes{
    flex-wrap: wrap;
  }
  .serv-sec .boxes .box{
flex: auto;
width: 40%;
}
}
/*End Services*/
/*Start News*/
.news-sec{
  background-color: #fafafa;
  padding: 60px 0;
}
.news-sec .boxes{
display: flex;
gap:20px;


}
.news-sec .boxes .box{
  flex: 1;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.1);
  position: relative;

}
@media (max-width: 991px) {
  .news-sec .boxes {
    flex-direction: column;
  }
    .news-sec .boxes .box{
      margin: 0;
      margin-bottom: 20px;
    }
}

@media (min-width: 992px) and (max-width: 1199px){
    .news-sec .boxes{
      flex-wrap: wrap;
    }
  .news-sec .boxes .box{
    flex: auto !important;
    width: 40%;
}

}



.news-sec .boxes .box .hash-new{
  position: absolute;
  top: 10px;
  right: 5px;
  background-color: rgba(255, 245, 104, 0.85);
  color: #505050;
  padding: 3px 15px;
  border-radius: 10px;
  font-weight: bold;
}

.news-sec .boxes .box .bg-img{
 height: 200px;
 background-size: cover !important;

}
.news-sec .boxes .box .details{
   background-color: #fff;
   padding:30px 15px;
}
.news-sec .boxes .box .details .date{
  margin-bottom: 10px;
}
.news-sec .boxes .box .details .date i{
  color: #4fc5ba;
  padding-left: 3px;
  font-size: 18px;
}
.news-sec .boxes .box .details .date span{
color: #737373;
}
.news-sec .boxes .box .details h1 {
color: #505050;
margin-bottom: 10px;
}
.news-sec .boxes .box .details p {
  line-height: 2;
  color:#737373;
  margin-bottom: 10px;
}
.news-sec .boxes .box .details a {
  padding: 6px 45px;
}
.news-sec .boxes .box .details a:hover {
  background-color: #fff;
  color: #505050;
}

/*End News*/
/*Start Goals */


.goals-sec{
height:380px;
position: relative;
background-size: cover !important;

}

.goals-sec .overlay{
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(79, 197, 186, 0.7);
  padding:50px 0;
}

.goals-sec .title-sec h3,
.goals-sec .title-sec h5{
  color: #fff;
}
.goals-sec .boxes{
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.goals-sec .boxes .box{
width: 25%;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
}
.goals-sec .boxes .box img{
  display: inline-block;
  margin-left: 10px;
  width: 81px;
  height: 71px;
}
.goals-sec .boxes .box > div{
  color: #fff;
}
.goals-sec .boxes .box > div h1,
.goals-sec .boxes .box > div h5
{
  font-weight :normal ;
}

.goals-sec .boxes .box > div h1{
font-size: 50px;
}
.goals-sec .boxes .box > div h5{
  font-size: 20px;
}

@media (max-width: 991px) {
  .goals-sec{
    height: 800px;
  }
.goals-sec .boxes .box{
  width: 100%;
} 
}

/*End Goals */
/*Start What Say*/
.what-say{

  padding: 60px 0;
}

.what-say .boxes{

display: flex;
flex-wrap: wrap;
gap: 30px;
}
.what-say .boxes .box{
  width: 47%;
  display: flex;
  gap: 20px;
}

.what-say .boxes .box img{
  width: 72px;
  height: 72px;
  display: inline-block;
}
.what-say .boxes .box .content{
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}
.what-say .boxes .box .content h2{
  color: #505050;
  margin-bottom: 10px;
}
.what-say .boxes .box .content p{
  color: #666;
  margin-bottom: 10px;
  line-height: 1.8;
  font-size: 15px;
}

.what-say .boxes .box .content ul{
display: flex;
gap:15px;
}
.what-say .boxes .box .content ul li i{
  padding-left: 5px;
  color: #4fc5ba;
}
.what-say .boxes .box .content ul li span{
color: #666;
}
@media (max-width: 767px) {
  .what-say .boxes .box{
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .what-say .boxes .box{
    width: 80%;
    margin: auto;
  }
}


/*End What Say*/

/*Start Communication*/

.communication-sec{
padding:60px 0;
position: relative;
background-color: #eef6f6;
background-size: cover !important;
}

.communication-sec .boxes{
display: flex;
gap: 20px;
}
.communication-sec .boxes .box{
  
  display: inline-block;
  gap: 20px;
}
.communication-sec .boxes .box-size{
background-color: rgb(255, 255, 255);
border-radius: 10%;
width: 280px;
height: 330px;
}

.communication-sec .boxes .box-size h4{
padding: 30px 0;
text-align: center;
}

.communication-sec .box-size .p-adr p{
padding-bottom: 10px;
padding-right: 45px;
 font-size: 15px;
   line-height: 1;

}
.communication-sec .box-size .p-adrr p{
padding-bottom: 10px;
padding-right: 20px;
 font-size: 13px;
   line-height: 1;

}
.communication-sec .boxes  .box-size ul li{
  line-height: 3;
font-size: 14px;
padding-right: 30px;
display: inline-block;
gap:30px;
}
.communication-sec .boxes  .box-size  ul li i{
  padding-left: 5px;
  color: #4fc5ba;
}
.communication-sec .boxes .box-size ul li span{
color: #666;
}

.communication-sec .boxes .com-1 {
  margin-right: 40px;
  
}
 .communication-sec .boxes .btnn-website{
  display: inline-block;
  gap:50px;
  margin-right: 20px;
  background-color:#fff568 ;
  border: 1px solid #fff568 ;
  width: 130px;
  border-radius: 10px;
  color:#505050;
  font-size: 13px;
  text-align: center;
  transition: all 0.35s linear;
}

@media (max-width: 991px) {
  .communication-sec .boxes {
    flex-direction: column;
  }
  .communication-sec .box-size {
    display: inline-block;
      flex: 1;
  padding: 50px 50px;
    
  }
  .communication-sec .boxes .box{
      margin: 0;
      margin-bottom: 20px;
    }
      .communication-sec .boxes .box img{
width: 100%;
      }
}

@media (min-width: 992px) and (max-width: 1199px){
.communication-sec .boxes{
      flex-wrap: wrap;
    }
 .communication-sec .boxes.box-size{
    flex: auto !important;
    width: 100%;
}
}

/*End Communication*/
/*Start Map*/

.map-sec{
height:355px;
position: relative;
background-size: cover !important;

}

.map-sec .overlay{
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
background-color: rgba(162, 162, 162,0.7);
  padding:50px 0;
}


.map-sec .boxes{
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/*End Map*/
/*Start Footer*/


.footer {
  padding: 60px 0;
   left: 0;
   bottom: 0;
   background-color: #fff;
   color:#000;
   text-align: center;
}


.footer .sec-foot h1{
 font-family: bold-font;
  font-size: 45px;
  color: #666;
  padding-bottom: 25px;
}

.footer .sec-foot p{
  font-size: 20px;

}

  /* start  icons  */
  .footer .sec-foot .t-icons ul  {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.footer .sec-foot .t-icons ul li {
    padding-left:30px ;
}
.footer .sec-foot .t-icons ul li i{
padding-top: 30px;
color: #666;
gap: 10;
    
}
.footer .sec-foot .t-icons ul li i:hover{
  color: #4fc5ba;
    transition: all 0.3s;

}

/* end  icons */


/*End Footer*/